@import "../../nodes_modules/normalize.css/normalize.css";

h1
{
	position: relative;
	text-align: center;
	font-size: 48px;
 	text-shadow: -2px 0 4px #000;
	font-family:"Segoe print", Arial, Helvetica, sans-serif;
	color: #666699;
	padding:60px 0 0 0;
	margin:16px auto;
	font-weight:lighter;
	-moz-box-shadow:none;  
	-webkit-box-shadow: none;  
	box-shadow:none;  
	text-align:center;
	display:block;
}
h3
{
	font-size: 20px;
 	text-shadow: -1px 0 2px #000;
	font-family:"Segoe print", Arial, Helvetica, sans-serif;
	color: #666699;
	padding:30px 0 0 0;
	margin:16px auto;
	font-weight:lighter;
	-moz-box-shadow:none;  
	-webkit-box-shadow: none;  
	box-shadow:none;  
	display:block;
}
img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li
{
 list-style-type: none;
}
p
{
	font-family:"Segoe print", Arial, Helvetica, sans-serif;
	color: #666699;
}
input
{
	display: block;

	margin-left:auto;
	font-size: 20px;
	background-color: #666699;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;

}
hr
{
	margin:0px;
	border-color: #666699;
	width: auto;
}
body
{
	margin-top: 0px;
	-webkit-transition: background-color 1s ease-in-out;
	transition: background-color 1s ease-in-out;
	background-color: #F5F5F5;
}

footer
{
	position: relative;
    display: flex;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    height: 60px;
    background-color: #666699;
}


.menu {
	z-index: 999;
    width: 100%;
    padding: 0px 0;
    position: fixed;
    background-color: #F5F5F5;
    top: 0;
    left: 0;
    -webkit-transition: background-color 1s ease-in-out;
	transition: background-color 1s ease-in-out;
}

.heure {
	display: block;
	text-align: right;
	padding: 12.5px 32px;
	margin-right: 130px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.floatRight {
	float: right;
}

/*   sass --watch scss/style.scss:css/css.css    */
